<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>todolist</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div id="root">
    <div>
      <input v-model="inputValue"/>
      <button @click="handleSubmit">提交</button>
    </div>
    <ul>
      <li v-for="(item, index) of list" :key="index">
        {{item}}
        <span style="color:red; cursor: pointer;" @click="() => handleDelete(index)">x</span>
      </li>
    </ul>

  </div>
  <script>

    new Vue({
      el: "#root",
      data: {
        inputValue: '',
        list: []
      },
      methods: {
        handleSubmit: function() {
          if (this.inputValue) {
            // this.list.push(this.inputValue)
            this.list = [...this.list, this.inputValue]
            this.inputValue = ''
          }
        },
        handleDelete: function(index) {
          this.list.splice(index, 1)
        }
      }
    });
  </script>
</body>
</html>